/*CSS file*/
body{
   background-image: linear-gradient(180deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1)), url("../img/Background.png");
   height: 100%;
   background-attachment: fixed;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   width: 1000px;
   margin: auto;
}
h1, h3, h4, h5, h6 {
   padding-top: 16px; 
   color: #ff631b ;
   text-align: center;
   font-family: "Titan One", sans-serif;
   font-weight: 400;
   font-style: normal;
   text-shadow: 0px 2px 5px #ff8c20;
}

p {
   font-family: "Athiti", sans-serif;
   font-weight: 600;
}

a {
   color: #ff631b ;
   font-family: "Athiti", sans-serif;
   font-weight: 600;
}

h2 {
   padding-top: 16px; 
   color: #ffffff ;
   text-align: center;
   font-family: "Titan One", sans-serif;
   font-weight: 400;
   font-style: normal;
   text-shadow: 0px 2px 5px #000000;
}

.Custimg {
   border-radius: 50px;
   box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.336);
   display: block;
   margin-left: auto;
   margin-right: auto;
 }


 .Custimg2 {
   border-radius: 100%;
   box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.336);
   display: block;
   margin-left: auto;
   margin-right: auto;
 }
 
nav{
   background-color: #b9b9b9 ;
   border-radius: 30px;
   box-shadow: 0 15px 20px 0 rgba(0,0,0,.336);
   height: 40px;
   padding-bottom: 20px;
   
}

nav ul {
   list-style: none; 
   padding-top: 16px; 
   text-align: center;
}

nav li {
   display: inline;
}


nav a {
   text-decoration: none;
   color: white;
   font-size: 1.2em;
   font-weight: bold;
   margin-right: 20px;
   text-shadow: 0px 2px 5px #000000;
}

nav a:hover{
   color: rgb(255, 94, 0);
   text-shadow: 0px 2px 5px #ff8c20;
}
section {
   float: left;
   width: 100%;
   margin-right: 5%;
   margin-bottom: 20px;
}

footer {
   width: 1000px;
   clear: both;
   background-color: #afafaf;
   color: white;
   text-align: center;
   border-radius: 30px;
   box-shadow: 0 15px 20px 0 rgba(0,0,0,.336);
   height: 40px;
   padding-bottom: 20px;
   text-align: center;
}
footer a {
   text-decoration: none;
   color: #ff7300 ;
   display: block;
   margin-left: auto;
   margin-right: auto;
   text-align: center;
}


table {
  width: 100%;
}

.Center{
   display: block;
   margin-left: auto;
   margin-right: auto;
   text-align: center;
}

.image_right{
   float:right;
   margin-left: 10px;
   margin-bottom: 10px;
}
.image_left{
   float:left;
   margin-right: 10px;
   margin-bottom: 10px;
}

.box {
   border: 5px solid rgb(255, 255, 255);
   background-color: rgb(255, 255, 255);
   width: 500px;
   padding: 25px;
   margin: 0 auto;
   display: block;
   border-radius: 30px;
   box-shadow: 0 15px 20px 0 rgba(0,0,0,.336);
}

.container {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100%;
}